<app-nav-bar></app-nav-bar>

<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="max-w-6xl w-full p-6 bg-white rounded-lg shadow-lg">

    <!-- Book Title -->
    <h2 class="text-3xl font-bold mb-4 text-center">{{ book.volumeInfo.title }}</h2>

    <!-- Book Details Container -->
    <div class="flex flex-col md:flex-row md:space-x-4">

      <!-- Book Cover -->
      <div class="md:w-64 md:flex-shrink-0">
        <img *ngIf="book.volumeInfo.imageLinks?.thumbnail" [src]="book.volumeInfo.imageLinks.thumbnail" alt="Book Cover"
             class="w-full h-auto rounded-lg shadow-md">
      </div>

      <!-- Book Information -->
      <div class="flex-1">

        <!-- Authors, Published Date, Publisher, Page Count, Categories, Language, ISBN -->
        <div class="space-y-2">
          <p class="text-lg font-medium">Authors: {{ book.volumeInfo.authors?.join(', ') }}</p>
          <p class="text-lg font-medium">Published Date: {{ book.volumeInfo.publishedDate }}</p>
          <p class="text-lg font-medium">Publisher: {{ book.volumeInfo.publisher }}</p>
          <p class="text-lg font-medium">Page Count: {{ book.volumeInfo.pageCount }}</p>
          <p class="text-lg font-medium">Categories: {{ book.volumeInfo.categories?.join(', ') }}</p>
          <p class="text-lg font-medium">Language: {{ book.volumeInfo.language }}</p>
          <p class="text-lg font-medium">ISBN: {{ book.volumeInfo.industryIdentifiers ? book.volumeInfo.industryIdentifiers[0].identifier : 'N/A' }}</p>
        </div>

        <!-- Description -->
        <div class="mt-4">
          <h3 class="text-xl font-semibold mb-2">Description</h3>
          <div [innerHTML]="book.volumeInfo.description"></div>
        </div>
      </div>
    </div>

    <!-- Status Buttons -->
    <div class="mt-6 flex justify-center space-x-4">
      <button
        class="px-4 py-2 rounded"
        [ngClass]="{
          'bg-blue-600 text-white': isActive(1),
          'bg-blue-500 text-white hover:bg-blue-600': !isActive(1)
        }"
        (click)="addToStatus(1)"
      >
        Currently Reading
      </button>
      <button
        class="px-4 py-2 rounded"
        [ngClass]="{
          'bg-green-600 text-white': isActive(2),
          'bg-green-500 text-white hover:bg-green-600': !isActive(2)
        }"
        (click)="addToStatus(2)"
      >
        Read
      </button>
      <button
        class="px-4 py-2 rounded"
        [ngClass]="{
          'bg-yellow-600 text-white': isActive(3),
          'bg-yellow-500 text-white hover:bg-yellow-600': !isActive(3)
        }"
        (click)="addToStatus(3)"
      >
        Want to Read
      </button>
    </div>

    <app-critic [bookId]="book.id"></app-critic>
  </div>
</div>
